<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.worktime.dao.CheckWorkTimeDao">

    <select id="queryCheckWorkTimeList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`,
			a.start_time startTime,
			a.end_time endTime,
            a.rest_start_time restStartTime,
            a.rest_end_time restEndTime,
			a.type,
			a.enabled,
			a.create_id createId,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.last_update_id lastUpdateId,
			DATE_FORMAT(a.last_update_time, '%Y-%m-%d') lastUpdateTime
		FROM
			check_work_time a
		<where>
			a.delete_flag = #{deleteFlag}
			<if test="sqlExtract != '' and sqlExtract != null">
				${sqlExtract}
			</if>
			<if test="keyword != null and keyword != ''">
				AND a.`name` like '%${keyword}%'
			</if>
		</where>
        ORDER BY a.create_time DESC
    </select>

</mapper>