<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.win.dao.SysEveWinDragDropDao">
	
	<select id="queryMenuMationFromSysById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			'2' type
		FROM 
			sys_eve_user_custom_menubox b
		WHERE b.id = #{id}
		UNION
		SELECT
			c.id,
			'3' type
		FROM
			sys_eve_user_custom_menu c
		WHERE c.id = #{id}
	</select>

	<select id="queryMenuMationTypeById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			'1' menuType#系统菜单，禁止修改
		FROM
			sys_eve_menu a
		WHERE a.id = #{id}
		UNION
		SELECT
			b.id,
			'2' menuType#用户自定义快捷方式，可以修改
		FROM
			sys_eve_user_custom_menu b
		WHERE b.id = #{id}
		UNION
		SELECT
			c.id,
			'3' menuType#用户自定义菜单盒子，可以修改
		FROM
			sys_eve_user_custom_menubox c
		WHERE c.id = #{id}
	</select>

	<select id="queryCustomDeskTopsMenuByUserId" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			a.icon,
			'1' pageType,
			a.url pageUrl,
			'' path,
			a.open_type openType,
			a.type menuType,
			'-1' maxOpen,
			'false' extend,
			null childs,
			IFNULL(e.parent_id, a.parent_id) parentId,
			IFNULL(e.level, 1) menuLevel,
			a.icon_color iconColor,
			a.icon_bg iconBg,
			a.icon_pic iconPic,
			a.icon_type iconType,
			IFNULL(a.desktop_id, '') desktopId,
			'' sysWinUrl
		FROM
			sys_eve_user_custom_menu a
			LEFT JOIN sys_eve_user_custom_parent e ON e.menu_id = a.id AND e.create_id = #{userId}
			<if test="tenantId != '' and tenantId != null">
				AND e.tenant_id = #{tenantId}
			</if>
		WHERE a.create_id = #{userId}
		<if test="tenantId != '' and tenantId != null">
			AND a.tenant_id = #{tenantId}
		</if>
		UNION
		SELECT
			a.id,
			a.`name`,
			'' icon,
			'1' pageType,
			'--' pageUrl,
			'' path,
			2 openType,
			'' menuType,
			'-1' maxOpen,
			'false' extend,
			null childs,
			'0' parentId,
			0 menuLevel,
			'' iconColor,
			'' iconBg,
			'' iconPic,
			'' iconType,
			IFNULL(a.desktop_id, '') desktopId,
			'' sysWinUrl
		FROM
			sys_eve_user_custom_menubox a
		WHERE a.create_id = #{userId}
		<if test="tenantId != '' and tenantId != null">
			AND a.tenant_id = #{tenantId}
		</if>
	</select>

</mapper>