<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.win.dao.SysEveWinDragDropDao">
	
	<select id="queryMenuMationFromSysById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			'2' type
		FROM 
			sys_eve_user_custom_menubox b
		WHERE b.id = #{id}
		UNION
		SELECT
			c.id,
			'3' type
		FROM
			sys_eve_user_custom_menu c
		WHERE c.id = #{id}
	</select>

	<select id="queryMenuMationTypeById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			'1' menuType#系统菜单，禁止修改
		FROM
			sys_eve_menu a
		WHERE a.id = #{id}
		UNION
		SELECT
			b.id,
			'2' menuType#用户自定义快捷方式，可以修改
		FROM
			sys_eve_user_custom_menu b
		WHERE b.id = #{id}
		UNION
		SELECT
			c.id,
			'3' menuType#用户自定义菜单盒子，可以修改
		FROM
			sys_eve_user_custom_menubox c
		WHERE c.id = #{id}
	</select>

</mapper>