<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.overtime.dao.OvertimeDao">
    <select id="queryOvertimeList" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.odd_number oddNumber,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            a.create_id createId,
            CONVERT(a.create_time, char) createTime,
            a.last_update_id lastUpdateId,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            check_work_overtime a
        <where>
            a.create_id = #{createId}
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (a.odd_number like '%${keyword}%' OR a.`name` like '%${keyword}%')
            </if>
            <if test="tenantId != '' and tenantId != null">
                AND a.tenant_id = #{tenantId}
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryPassThisDayAndCreateId" resultType="java.util.Map">
        SELECT
            b.id,
            b.overtime_start_time clockIn,
            b.overtime_end_time clockOut
        FROM
            check_work_overtime a,
            check_work_overtime_time_slot b
        WHERE
            a.create_id = #{createId}
          AND a.id = b.parent_id
          AND b.state = #{childState}
          AND b.overtime_day = #{overtimeDay}
        <if test="tenantId != '' and tenantId != null">
            AND a.tenant_id = #{tenantId} AND b.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="queryStateIsSuccessWorkOvertimeDayByUserIdAndMonths" resultType="java.util.Map">
        SELECT
            a.id,
            '加班' title,
            a.overtime_day 'start',
            a.overtime_day 'end'
        FROM
            check_work_overtime_time_slot a,
            check_work_overtime b
        WHERE b.create_id = #{userId}
        AND b.id = a.parent_id
        AND a.state = 'pass'
        <if test="months != null and months.size() &gt; 0">
            <foreach collection="months" item="month" separator="," open=" AND date_format(a.overtime_day, '%Y-%m') in(" close=")">
                #{month}
            </foreach>
        </if>
        <if test="tenantId != '' and tenantId != null">
            AND a.tenant_id = #{tenantId} AND b.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="queryCheckWorkOvertimeWaitSettlement" resultType="java.util.Map">
        SELECT
            b.id,
            a.create_id createId,
            DATE_FORMAT(b.overtime_day, '%Y-%m') overtimeMonth,
            b.overtime_hour overtimeHour,
            b.overtime_settlement_type overtimeSettlementType
        FROM
            check_work_overtime a,
            check_work_overtime_time_slot b
        WHERE a.id = b.parent_id
        AND b.state = #{childState}
        AND b.settle_state = 1
        <if test="tenantId != '' and tenantId != null">
            AND a.tenant_id = #{tenantId} AND b.tenant_id = #{tenantId}
        </if>
    </select>

</mapper>