<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.authority.dao.AuthorityDao">

    <select id="getRoleHasMenuListByRoleId" resultType="java.util.Map">
        SELECT
            c.id,
            c.`name`,
            c.icon,
            c.page_type pageType,
            c.page_url pageURL,
            c.path,
            c.open_type openType,
            c.type,
            c.order_num orderNum,
            '-1' maxOpen,
            'false' extend,
            null childs,
            c.parent_id parentId,
            c.level,
            c.icon_color iconColor,
            c.icon_bg iconBg,
            c.icon_pic iconPic,
            c.icon_type iconType,
            IFNULL(c.desktop_id, '') deskTopId,
            IFNULL(g.sys_url, '') sysWinUrl # 分布式开发时，其他系统的域名地址
        FROM
            sys_eve_role_menu b,
            sys_eve_menu c,
            sys_eve_win g
        WHERE
            b.role_id = #{roleId}
          AND b.menu_id = c.id
          AND g.id = c.sys_win_id
        ORDER BY c.order_num ASC
    </select>

    <select id="getRoleHasAppMenuByRoleId" resultType="java.util.Map">
        SELECT
            *
        FROM ( SELECT
                   c.id,
                   c.`name`,
                   c.logo,
                   c.url,
                   CASE c.parent_id WHEN '0' THEN c.desktop_id ELSE c.parent_id END pId,
                   c.order_by orderNum,
                   'page' type
               FROM
                   app_workbench_page_role b,
                   app_workbench_page c
               WHERE b.page_id = c.id AND b.role_id = #{roleId}
               ORDER BY c.order_by ASC) m
        UNION ALL
        SELECT
            *
        FROM
            (SELECT
                 a.id,
                 a.`name`,
                 a.logo,
                 a.app_page_url url,
                 '0' pId,
                 a.order_by orderNum,
                 'desktop' type
             FROM
                 sys_eve_desktop a,
                 app_workbench_page_role b
             WHERE a.enabled = '1'
               AND b.page_id = a.id
               AND b.role_id = #{roleId}
             ORDER BY a.order_by DESC) k
    </select>

    <select id="getRoleHasAuthPointsByRoleId" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.parent_id parentId,
            a.menu_num menuNum,
            a.auth_menu authMenu,
            a.order_by orderBy
        FROM
            sys_eve_menu_auth_point a,
            sys_eve_role_menu b
        WHERE b.menu_id = a.id
          AND b.role_id = #{roleId}
        ORDER BY a.order_by ASC
    </select>

    <select id="getRoleHasAppAuthPointsByRoleId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            c.id,
            c.`name`,
            c.parent_id parentId,
            c.menu_num menuNum,
            c.auth_menu authMenu,
            c.order_by orderBy
        FROM
            app_workbench_page_auth_role b,
            sys_eve_menu_auth_point c
        WHERE b.role_id = #{roleId}
          AND b.auth_id = c.id
        ORDER BY c.order_by ASC
    </select>

</mapper>