<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.personnel.dao.SysEveUserStaffDao">

	<select id="queryUserMationList" resultType="java.util.Map">
		SELECT
			a.user_id id,
			a.user_id userId,
			a.id staffId,
			CONCAT_WS('_', a.job_number, a.user_name) `name`,
			a.job_number jobNumber,
			a.user_name userName,
			a.user_photo userPhoto,
			a.user_idcard userIdCard,
			a.user_sex userSex,
			a.state,
			a.email,
			a.phone,
			a.home_phone homePhone,
			a.qq,
			a.work_time workTime,
			a.entry_time entryTime,
			IFNULL(a.quit_time, '') quitTime,
			IFNULL(a.quit_reason, '') quitReason,
			a.annual_leave annualLeave,
			a.holiday_number holidayNumber,
			a.retired_holiday_number retiredHolidayNumber,
			IFNULL(a.user_sign, '暂无签名') userSign,
			CASE a.state WHEN '1' THEN 'state-up' WHEN '2' THEN 'state-down' END colorClass,
			a.company_id companyId,
			a.department_id departmentId,
			a.job_id jobId,
			a.job_score_id jobScoreId,
			b.user_code userCode
		FROM
			sys_eve_user_staff a
			LEFT JOIN sys_eve_user b ON b.id = a.user_id
		<where>
			<choose>
				<when test="userIds != '' and userIds != null">
					INSTR(CONCAT(',', #{userIds}, ','), CONCAT(',', a.user_id, ','))
				</when>
				<otherwise>
					INSTR(CONCAT(',', #{staffIds}, ','), CONCAT(',', a.id, ','))
				</otherwise>
			</choose>
		</where>
	</select>
	
	<insert id="insertStaffCheckWorkTimeRelation" parameterType="java.util.Map">
	     INSERT INTO sys_eve_user_staff_time
	     (staff_id, check_work_time_id)
	     VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.staffId}, #{item.timeId})  
		</foreach>  
	</insert>
	
	<delete id="deleteStaffCheckWorkTimeRelationByStaffId">
		DELETE
		FROM
			sys_eve_user_staff_time
		WHERE staff_id = #{staffId}
	</delete>
	
	<select id="queryStaffCheckWorkTimeRelationNameByStaffId" resultType="java.util.Map">
		SELECT
			a.staff_id staffId,
			a.check_work_time_id timeId,
			b.`name`,
			b.start_time startTime,
			b.end_time endTime,
			b.rest_start_time restStartTime,
			b.rest_end_time restEndTime,
			b.`type`,
			b.enabled,
			CASE b.type WHEN 1 THEN '单休' WHEN 2 THEN '双休' WHEN 3 THEN '单双休' WHEN 4 THEN '自定义' ELSE '' END typeName
		FROM
			sys_eve_user_staff_time a,
			check_work_time b
		WHERE 
			a.staff_id = #{staffId}
		AND a.check_work_time_id = b.id
	</select>
	
	<select id="queryCheckTimeMationByTimeIds" resultType="java.util.Map">
		SELECT
			a.id timeId,
			a.start_time startTime,
			a.end_time endTime
		FROM
			check_work_time a
		WHERE a.id IN
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	            #{item}
	        </foreach>
	</select>
	
	<select id="queryCheckTimeDaysMationByTimeIds" resultType="java.util.Map">
		SELECT
			a.time_id timeId,
			a.week_number `day`,
			a.`type`
		FROM
			check_work_time_week a
		WHERE a.time_id IN
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	            #{item}
	        </foreach>
	</select>

	<select id="queryAllSysUserStaffListByState" resultType="java.util.Map">
		SELECT
			a.id,
			a.work_time workTime,
			a.entry_time entryTime,
			a.annual_leave annualLeave
		FROM
			sys_eve_user_staff a
		WHERE a.state IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<update id="editSysUserStaffAnnualLeaveById">
		UPDATE sys_eve_user_staff
		<set>
			annual_leave = #{quarterYearHour},
			annual_leave_statis_time = #{annualLeaveStatisTime}
		</set>
		WHERE id = #{staffId}
	</update>

	<update id="updateSysUserStaffHolidayNumberById">
		UPDATE sys_eve_user_staff
		<set>
			holiday_number = #{holidayNumber},
			holiday_statis_time = #{holidayStatisTime}
		</set>
		WHERE id = #{staffId}
	</update>

	<update id="updateSysUserStaffRetiredHolidayNumberById">
		UPDATE sys_eve_user_staff
		<set>
			retired_holiday_number = #{retiredHolidayNumber},
			retired_holiday_statis_time = #{retiredHolidayStatisTime}
		</set>
		WHERE id = #{staffId}
	</update>

</mapper>