<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.personnel.dao.SysEveUserStaffDao">

	<select id="queryUserMationList" resultType="java.util.Map">
		SELECT
			a.user_id id,
			a.user_id userId,
			a.id staffId,
			CONCAT_WS('_', a.job_number, a.user_name) `name`,
			a.job_number jobNumber,
			a.user_name userName,
			a.user_photo userPhoto,
			a.user_idcard userIdCard,
			a.user_sex userSex,
			a.state,
			a.email,
			a.phone,
			a.home_phone homePhone,
			a.qq,
			a.work_time workTime,
			a.background_image backgroundImage,
			a.entry_time entryTime,
			IFNULL(a.quit_time, '') quitTime,
			IFNULL(a.quit_reason, '') quitReason,
			a.annual_leave annualLeave,
			a.holiday_number holidayNumber,
			a.retired_holiday_number retiredHolidayNumber,
			IFNULL(a.user_sign, '暂无签名') userSign,
			CASE a.state WHEN '1' THEN 'state-up' WHEN '2' THEN 'state-down' END colorClass,
			a.company_id companyId,
			a.department_id departmentId,
			a.job_id jobId,
			a.job_score_id jobScoreId,
			b.user_code userCode
		FROM
			sys_eve_user_staff a
			LEFT JOIN sys_eve_user b ON b.id = a.user_id
		<where>
			<choose>
				<when test="userIds != '' and userIds != null">
					INSTR(CONCAT(',', #{userIds}, ','), CONCAT(',', a.user_id, ','))
				</when>
				<otherwise>
					INSTR(CONCAT(',', #{staffIds}, ','), CONCAT(',', a.id, ','))
				</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="queryStaffCheckWorkTimeRelationNameByStaffId" resultType="java.util.Map">
		SELECT
			a.staff_id staffId,
			a.check_work_time_id timeId,
			b.`name`,
			b.start_time startTime,
			b.end_time endTime,
			b.rest_start_time restStartTime,
			b.rest_end_time restEndTime,
			b.`type`,
			b.enabled,
			CASE b.type WHEN 1 THEN '单休' WHEN 2 THEN '双休' WHEN 3 THEN '单双休' WHEN 4 THEN '自定义' ELSE '' END typeName
		FROM
			sys_eve_user_staff_time a,
			check_work_time b
		WHERE 
			a.staff_id = #{staffId}
		AND a.check_work_time_id = b.id
	</select>

</mapper>