<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.task.dao.ProTaskDao">

    <select id="queryAllChildIdsByParentId" resultType="java.lang.String">
		<foreach collection="ids" item="id" index="idx" separator="UNION">
			SELECT
				d.id
			FROM
				(
					SELECT
						@ids${idx} AS _ids,
						(
							SELECT
								@ids${idx} := GROUP_CONCAT(id)
							FROM
								pro_task
							WHERE FIND_IN_SET(parent_id, @ids${idx})
							<if test="tenantId != '' and tenantId != null">
								AND tenant_id = #{tenantId}
							</if>
						) AS cids,
						@l${idx} := @l${idx} + 1 AS level
					FROM
						pro_task,
						(
							SELECT
								@ids${idx} := #{id},
								@l${idx} := 0
						) b
					WHERE @ids${idx} IS NOT NULL
					<if test="tenantId != '' and tenantId != null">
						AND tenant_id = #{tenantId}
					</if>
				) i,
				pro_task d
			WHERE FIND_IN_SET(d.id, i._ids)
			<if test="tenantId != '' and tenantId != null">
				AND d.tenant_id = #{tenantId}
			</if>
		</foreach>
	</select>
    
</mapper>