<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.trip.dao.BusinessTripDao">

    <select id="queryStateIsSuccessBusinessTripDay" resultType="java.util.Map">
        SELECT
            a.id,
            a.time_id timeId,
            a.travel_day `start`,
            a.travel_day `end`
        FROM
            check_work_business_travel_time_slot a,
            check_work_business_travel b
        <where>
            b.create_id = #{userId}
            AND b.id = a.parent_id
            AND a.state = #{childState}
            AND a.time_id = #{timeId}
            <if test="months != null and months.size() &gt; 0">
                <foreach collection="months" item="month" separator="," open=" AND date_format(a.travel_day, '%Y-%m') in(" close=")">
                    #{month}
                </foreach>
            </if>
            <if test="tenantId != '' and tenantId != null">
                AND a.tenant_id = #{tenantId} AND b.tenant_id = #{tenantId}
            </if>
        </where>
    </select>

</mapper>