<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.module.dao.AutoModuleDao">

    <select id="queryAutoModuleList" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            auto_module a
        <where>
            <if test="tenantId != '' and tenantId != null">
                AND a.tenant_id = #{tenantId}
            </if>
            <if test="objectId != null and objectId != ''">
                AND a.object_id = #{objectId}
            </if>
            <if test="objectKey != null and objectKey != ''">
                AND a.object_key = #{objectKey}
            </if>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <choose>
                <when test="keyword != null and keyword != ''">
                    AND a.`name` LIKE '%${keyword}%'
                </when>
                <otherwise>
                    AND a.parent_id = '0'
                </otherwise>
            </choose>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryAllChildIdsByParentId" resultType="java.lang.String">
        <foreach collection="ids" item="id" index="idx" separator="UNION">
            SELECT
                d.id
            FROM
                (
                    SELECT
                        @ids${idx} AS _ids,
                        (
                            SELECT
                                @ids${idx} := GROUP_CONCAT(id)
                            FROM
                                auto_module
                            WHERE FIND_IN_SET(parent_id, @ids${idx})
                            <if test="tenantId != '' and tenantId != null">
                                AND tenant_id = #{tenantId}
                            </if>
                        ) AS cids,
                        @l${idx} := @l${idx} + 1 AS level
                    FROM
                        auto_module,
                        (
                            SELECT
                                @ids${idx} := #{id},
                                @l${idx} := 0
                        ) b
                    WHERE @ids${idx} IS NOT NULL
                    <if test="tenantId != '' and tenantId != null">
                        AND tenant_id = #{tenantId}
                    </if>
                ) i,
                auto_module d
            WHERE FIND_IN_SET(d.id, i._ids)
            <if test="tenantId != '' and tenantId != null">
                AND d.tenant_id = #{tenantId}
            </if>
        </foreach>
    </select>

</mapper>
